@page "/"
@using Volo.Abp.MultiTenancy
@inherits GuiComponentBase
@inject ICurrentTenant CurrentTenant
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<Card Background="Background.Dark" class="mb-4">
    <CardBody >
        <CardTitle Color="TextColor.Light" Size="3">AbpHelper</CardTitle>
        <CardText Color="TextColor.Light">
            AbpHelper is a tool that helps you with developing Abp vNext applications. It can be used to call ABP CLI, generate code, manage modules, etc. See more at
            <Tooltip Inline="true" Text="opens in new window">
                <a target="_blank" href="https://github.com/EasyAbp/AbpHelper.GUI">Github repository</a>.
            </Tooltip>
        </CardText>
    </CardBody>
</Card>

<Card Background="Background.Dark" class="mb-4">
    <CardBody>
        <CardTitle Color="TextColor.Light" Size="3">About EasyAbp</CardTitle>
        <CardText Color="TextColor.Light">
            <Tooltip Inline="true" Text="opens in new window">
                <a href="https://github.com/EasyAbp">EasyAbp</a>
            </Tooltip>
            is an open source organization to enhance your ABP project development efficiency. We are always looking forward to your code contribution.
        </CardText>
    </CardBody>
</Card>

<Button Block="true" Color="Color.Dark" Clicked="OnGetStartedButtonClicked">Get Started</Button>

@code
{
    private void OnGetStartedButtonClicked()
    {
        NavigationManager.NavigateTo("/AbpCli");
    }
}
